{% extends 'base.html' %}
{% block content %}
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>

{% if not user.is_authenticated %}
<form class="form-signin" method="post" action="{% url 'register' %}">
      {% csrf_token %}
  <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Username</label>
  <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <label for="inputPassword" class="sr-only">Re-enter password</label>
  <input name="password_again" type="password" id="inputPassword" class="form-control" placeholder="Re-enter password" required>
  <!--<div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>-->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>

{% else %}

<p class="lead">Welcome {{ user.get_username }} ({{ num_visits }} visits)<br>You like trade!!!</p>

<p>Select your currency:</p>

<ul>
  {% for currency in currencies %}
    <li>
    {% if currency.is_crypto %}
      <a href="/orderbook/{{ currency.code }}/SYL/">{{ currency.name }}</a>: 56 {{ currency.code }}</li>
    {% else %}
      <a href="/orderbook/{{ currency.code }}/BTC/">{{ currency.name }}</a>: 56 {{ currency.code }}</li>
    {% endif %}
    </li>
  {% endfor %}
</ul>

{% endif %}

  </div>

{% endblock %}

